.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
   border-bottom: 1px solid #bbb;
}

ul{
    display: flex;
    column-gap: 50px;
}
li{
    cursor: pointer;
    list-style: none;
    column-gap: 50px;
    font-size: 20px;
}