
   <div id="firstpart">
        <div>
            <img src="https://zerodha.com/static/images/logo.svg" width="150">
            <pre>© 2010 - 2024, Zerodha Broking Ltd.
All rights reserved.</pre>
            <img src="https://zerodha.com/static/images/x-twitter.svg"> 
            &nbsp;&nbsp;&nbsp;
            <img src="https://zerodha.com/static/images/x-twitter.svg">
            &nbsp;&nbsp;&nbsp;
            <img src="https://zerodha.com/static/images/x-twitter.svg">
            &nbsp;&nbsp;&nbsp;
            <img src="https://zerodha.com/static/images/x-twitter.svg">
            <hr>
            <img src="https://zerodha.com/static/images/youtube.svg">
            &nbsp;&nbsp;&nbsp;
            <img src="https://zerodha.com/static/images/whatsapp-logo.svg" width="20">
            &nbsp;&nbsp;&nbsp;
            <img src="https://zerodha.com/static/images/youtube.svg">
        </div>


        <div>
            <h2 style="display: inline;">Company</h2>
            <h3>About </h3>
            <h3>  Products</h3>
            <h3> Pricing</h3>
            <h3> Referral programme</h3>
            <h3> Careers</h3>
            <h3> Zerodha.tech</h3>
            <h3> Press & media</h3>
            <h3> Zerodha Cares (CSR)</h3>
        </div>


        <div>
            <h2 style="display: inline;">Company</h2>
            <h3>About </h3>
            <h3>  Products</h3>
            <h3> Pricing</h3>
            <h3> Referral programme</h3>
            <h3> Careers</h3>
            <h3> Zerodha.tech</h3>
            <h3> Press & media</h3>
            <h3> Zerodha Cares (CSR)</h3>
        </div>

        <div>
            <h2 style="display: inline;">Company</h2>
            <h3>About </h3>
            <h3>  Products</h3>
            <h3> Pricing</h3>
            <h3> Referral programme</h3>
            <h3> Careers</h3>
            <h3> Zerodha.tech</h3>
            <h3> Press & media</h3>
            <h3> Zerodha Cares (CSR)</h3>
        </div>

      



        


        
    </div>

