<div class="firstsection">
    <img src="https://zerodha.com/static/images/landing.png" width="700">
    <h1 style="font-size: 2.75rem;">Invest in everything</h1>
    <p style="font-size: 1.4rem;">Online platform to invest in stocks, derivatives, mutual funds, ETFs, bonds, and more.</p>

    <button id="signup_btn">Sing up for free</button>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="secondsection">
    <div>
        <h1 style="font-size: 2rem;">Trust with confidence</h1>
        <br>

        <h2 style="font-size: 1.6rem;">Customer-first always</h2>
        <p style="font-size: 1.3rem;">That's why 1.5+ crore customers trust Zerodha with ₹4.5+ lakh crores of equity investments and contribute to 15% of daily retail exchange volumes in India.</p>

        <br>
      

        <h2 style="font-size: 1.6rem;">No spam or gimmicks</h2>
        <p style="font-size: 1.3rem;">No gimmicks, spam, "gamification", or annoying push notifications. High quality apps that you use at your pace, the way you like.</p>

        <br>
       

        <h2 style="font-size: 1.6rem;">The Zerodha universe</h2>
        <p style="font-size: 1.3rem;">Not just an app, but a whole ecosystem. Our investments in 30+ fintech startups offer you tailored services specific to your needs.</p>

        <br>

        <h2 style="font-size: 1.6rem;">Do better with money</h2>
        <p style="font-size: 1.3rem;">With initiatives like Nudge and Kill Switch, we don't just facilitate transactions, but actively help you do better with your money.</p>
    </div>

    <img src="https://zerodha.com/static/images/ecosystem.png" width="800">
</div>

<br>

<img id="news" src="https://zerodha.com/static/images/press-logos.png">

<br>
<br>
<br>
<br>

<div class="thirdsection">
    <h1>Unbeatable pricing</h1>
    <div class="pricing">
        <p style="font-size: 18px;">We pioneered the concept of discount broking and price transparency in India. Flat fees and no hidden charges.       </p>

        <div id="price">
            <img src="https://zerodha.com/static/images/pricing-eq.svg" width="100">
            <span>Free accountopening</span>
            <img src="https://zerodha.com/static/images/pricing-eq.svg" width="100">
            <span>Free equity delivery
                and direct mutual funds</span>
            
            
            <img src="https://zerodha.com/static/images/other-trades.svg" width="100">
            <span>Intraday and
                F&O</span>
            
        </div>
    </div>

    <a id="link" href="#">See Pricing ></a>
</div>

